{% extends "contas/base.html" %}

{% block title %}DSList | Sobre{% endblock %}
{% block header %}Bem Vindo!{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12" style="font-size: 18px">
    Nesta página, quero compartilhar um pouco sobre mim e minhas habilidades de
    programação.
    <br />
    <br />
    
    <strong style="font-size: 20px">Sobre mim:</strong>
    <ul>
      <li>Meu nome é Bruno e sou um apaixonado por programação.</li>
      <li>
        Eu tenho ampla experiência em desenvolvimento web e sou especializado em
        várias tecnologias.
      </li>
    </ul>
    <strong style="font-size: 20px"
      >Minhas habilidades de programação incluem:</strong
    >
    <ul>
      <li>
        Python - Uso o Python para criar aplicações web poderosas e eficientes.
      </li>
      <li>
        PHP com Codeigniter - Tenho experiência no desenvolvimento de projetos
        PHP utilizando o framework Codeigniter.
      </li>
      <li>
        Javascript com Jquery - Utilizo Javascript e a biblioteca Jquery para
        criar interatividade e dinamismo nas minhas aplicações.
      </li>
      <li>
        Java com Spring - Sou habilidoso no desenvolvimento Java com o framework
        Spring, criando aplicações robustas.
      </li>
      <li>
        HTML e CSS com ADMINLTE e BOOTSTRAP - Utilizo as tecnologias HTML e CSS
        para criar interfaces modernas e responsivas, e uso os frameworks
        ADMINLTE e Bootstrap para agilizar o desenvolvimento.
      </li>
      <li>
        Além disso, também trabalho com a biblioteca SweetAlert e outras
        ferramentas para melhorar a experiência do usuário nas minhas
        aplicações.
      </li>
    </ul>
    Estou sempre em busca de aprimorar minhas habilidades e aprender novas
    tecnologias para criar soluções web cada vez mais poderosas e inovadoras.
    <br />
    <br />
    Nesta página, você encontrará artigos, tutoriais e projetos relacionados a
    todas essas tecnologias mencionadas. Sinta-se à vontade para explorar e
    entrar em contato comigo caso tenha alguma pergunta ou sugestão.
    <br />
    <br />
    Obrigado por visitar minha página e espero que você encontre conteúdo útil e
    inspirador para aprimorar suas próprias habilidades de desenvolvimento web.
    Vamos aprender e crescer juntos nessa jornada empolgante da programação!
  </div>
</div>
{% endblock %}
